# Mac sistem dosyaları
.DS_Store

# Jupyter checkpoint'leri
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Virtual environment
venv/
env/

# CSV dosyaları (players_15.csv deploy için dahil edildi)
*.csv
!fifa15dataset/players_15.csv
